<template name="style">
  <div class="style-tips">
    <div class="jumbotron style-tips-banner">
      <div class="text">
        <h1>STYLE GUIDE</h1>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h1>
          <br>
            <strong>It’s the Little Things: Pocket Squares </strong>
        </h1>

        <p>
            At HUNTRS we're committed to putting you onto products/items that will enhance your life and make you a smoother operator.
        </p>
        <p>
            We realize there are some guys who are very comfortable with style and don’t necessarily need any assistance. However, there are cats who are trying to
            figure out what their "look" is but don't quite have it all figured out and would like some help. Others are confident with their suit game but struggle
            with their casual look.
        </p>
        <p>
            And then there's a category of men who welcome suggestions and feedback.
        </p>
        <p>
            Rather than try to completely outfit guys and totally overwhelm them, HUNTRS believes our greatest strength is helping guys with "the little things". We
            believe that if most guys simply focus on the little things and the art of accessorizing, they can make a big difference.
        </p>

        <p>
            A pocket square is a classic accessory that is a great way to give your suit some flavor with a pop of color and prints. With different
            materials like silk, wool and cotton and folding techniques, you’ll be able to mix and match to achieve whatever look you desire. If you’d like to
            introduce a pocket square to your outfit, try going for a solid versatile color that won’t clash with the ties in your closet.
        </p>
        <p>
            The pocket square is a “little” accessory that can make a big difference. When added to your hook-up, it take a suit or blazer from good to great! It
            allows men to express themselves and switch-up their look without having to buy several different suits or blazers. It give your suit/blazer a splash of
            color and polish that makes you stand out without looking like you’re trying too hard.
        </p>
        <p>
            <strong>See the difference</strong>
            <strong>?</strong>
        </p>
        <p>
            The great thing is, pocket squares are relatively inexpensive. Here are a few of our favorites and where you can cop them:
        </p>
        <div class="container">
          <div class="row">
            <h3>1. <a href="http://www.ikirejones.com/">Ikire Jones</a>: <em>$96.</em></h3>
            <img class="img-responsive" style="max-width:50%;" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456092779/style-tip-1_lqozpy.png" alt="" />
          </div>
          <div class="row">
            <h3>2. <a href="http://armstrongandwilson.com/">Armstrong &amp; Wilson</a>: <em>$65-$80.</em></h3>
            <img class="img-responsive" style="max-width:50%;" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456092779/style-tip-2_m4kkyo.png" alt="">
          </div>
          <div class="row">
            <h3>3. <a href="http://us.suitsupply.com/en_US/handkerchiefs">SuitSupply</a>: <em>$29-49.</em></h3>
            <img class="img-responsive" style="max-width:50%;" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456092779/style-tip-3_pjfntc.png" alt="">
          </div>
          <div class="row">
            <h3>4. <a href="https://www.c21stores.com/products/fashion-100-silk-pocket-square">Century21</a>: <em>For cats Ballin’ on a Budget. $7 - 35.</em></h3>
            <img class="img-responsive" style="max-width:50%;" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456092777/style-tip-4_ng4tty.png" alt="">
          </div>
        </div>
        <div class="row">
          <br>
          <br>
          <br>
        </div>

      </div>
    </div>
  </div>
  {{>footer}}
</template>
