.style-tips{
  h1,h2,h3{
    color: #000;
  }
  p{
    font-size: 1.4em;
  }
  a{
    color:#5D5D5D;
  }
  .content{
    padding: 0 15px;
  }
  .style-tips-banner{
    background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456090213/style-tips-banner_fgyrfp.jpg');
    background-position-y: 100%;
  }
}
