<template name="featuredCloset">
  <div class="featured-closet">
    <!-- top banner -->
    <div class="jumbotron featured-banner">
      <div class="text">
        <h1>Elliott Hughes</h1>
        <h2>Featured Closet</h2>
      </div>

    </div>
    <!-- about section -->
    <div class="content about-content">
      <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ex iure consequuntur eum odit modi veniam quibusdam repudiandae? Nobis doloribus possimus tempore molestias quae facilis laborum voluptas, maiores ipsum eaque!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam placeat suscipit accusamus autem facilis repudiandae modi laborum qui aliquam aut. Et distinctio mollitia minus magnam fuga molestias, recusandae nemo animi.</p>
      </div>
    </div>
    <!-- second banner -->
    <div class="jumbotron featured-banner second-banner">
      <div class="text">
        <!-- <h1>Elliott Hughes</h1>
        <h2>Featured Closet</h2> -->
      </div>
    </div>

    <!-- content and media section -->

    <div class="content sub-title-content">
      <div class="container">
        <h1>A Discovery</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi aliquam eum doloremque molestias iste quam recusandae in minima distinctio tempora, aut incidunt iure deserunt voluptatibus adipisci autem libero quasi?</span><span>Corporis quidem accusantium expedita, illum dolor rerum officia, esse omnis nobis. Sunt aut, ratione excepturi quod soluta quis earum aspernatur ducimus quidem nam ea aliquid est eum pariatur nostrum placeat.</span></p>

        <!-- media section -->
        <div class="row media-row">
          <!-- <div class="col-md-12 closet-media media-large large-one"><img class="img-responsive" src="'/resources/featured-tie.jpg'" alt="" /></div> -->
          <div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="/resources/featured-belt.jpg" alt=""></div>
          <div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="/resources/featured-tie.jpg" alt=""></div>
        </div>


      </div>
    </div>

    <!-- QUESTION SECTION -->
    <div class="content sub-title-content">
      <div class="container questions">
        <h1>Questionaire</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi aliquam eum doloremque molestias iste quam recusandae in minima distinctio tempora, aut incidunt iure deserunt voluptatibus adipisci autem libero quasi?</span><span>Corporis quidem accusantium expedita, illum dolor rerum officia, esse omnis nobis. Sunt aut, ratione excepturi quod soluta quis earum aspernatur ducimus quidem nam ea aliquid est eum pariatur nostrum placeat.</span></p>
        <!-- question 1 -->
        <p class="question">
          <b>
            Q _ So why is this website so fly?
          </b>
        </p>
        <p class="answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsam soluta expedita tempore voluptatum aperiam, voluptate incidunt rem! Perferendis sunt nobis, commodi vel sed amet quae suscipit dolorum similique totam.
        </p>

        <!-- question 2 -->
        <p class="question">
          <b>
            Q _ So why is this website so fly?
          </b>
        </p>
        <p class="answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsam soluta expedita tempore voluptatum aperiam, voluptate incidunt rem! Perferendis sunt nobis, commodi vel sed amet quae suscipit dolorum similique totam.
        </p>

        <!-- question 3 -->
        <p class="question">
          <b>
            Q _ So why is this website so fly?
          </b>
        </p>
        <p class="answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsam soluta expedita tempore voluptatum aperiam, voluptate incidunt rem! Perferendis sunt nobis, commodi vel sed amet quae suscipit dolorum similique totam.
        </p>


        <!-- question 4 -->
        <p class="question">
          <b>
            Q _ So why is this website so fly?
          </b>
        </p>
        <p class="answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsam soluta expedita tempore voluptatum aperiam, voluptate incidunt rem! Perferendis sunt nobis, commodi vel sed amet quae suscipit dolorum similique totam.
        </p>


        <!-- question 5 -->
        <p class="question">
          <b>
            Q _ So why is this website so fly?
          </b>
        </p>
        <p class="answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsam soluta expedita tempore voluptatum aperiam, voluptate incidunt rem! Perferendis sunt nobis, commodi vel sed amet quae suscipit dolorum similique totam.
        </p>
      </div>
    </div>

  <!-- OUTRO SECTION -->
  <div class="jumbotron featured-banner third-banner">
    <div class="text">
      <!-- <h1>Elliott Hughes</h1>
      <h2>Featured Closet</h2> -->
    </div>
  </div>
  <div class="content sub-title-content">
    <div class="container">
      <h1>Outro</h1>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi aliquam eum doloremque molestias iste quam recusandae in minima distinctio tempora, aut incidunt iure deserunt voluptatibus adipisci autem libero quasi?</span><span>Corporis quidem accusantium expedita, illum dolor rerum officia, esse omnis nobis. Sunt aut, ratione excepturi quod soluta quis earum aspernatur ducimus quidem nam ea aliquid est eum pariatur nostrum placeat.</span></p>

      <!-- media section -->
      <!-- <div class="row media-row">
        <div class="col-md-12 closet-media media-large"><img class="img-responsive" src="/resources/boatsntie.jpg" alt="" /></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/buttons.jpg" alt=""></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/gloves.jpg" alt=""></div>
      </div> -->


    </div>
  </div>


  </div>
</template>
