#landing{

  .row{
    // min-height: 20%;
    min-height: 40vh;
    text-align: center;
    // line-height: 20%;
    line-height: 40vh;
  }
  .top-row{
    min-height: 40vh;
    text-align: center;
    // line-height: 20%;
    line-height: 40vh;
  }
  .banner{
    border: 5px solid #000;
    p{
      font-size: 4rem;
      color: white;
      font-family: gotham;
      background: rgba(0,0,0,0.2);
      margin: 0;
      padding: 0;
      margin-right: -5px;
      margin-left: -5px;
      transition-duration: 0.3s;
      cursor: pointer;
      text-transform: lowercase;
      text-shadow: 1px 1px 1px black;
    }
    p:hover{
      transition-duration: 0.3s;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .top-banner{
    background-image: url("https://res.cloudinary.com/dvzdxf8an/image/upload/v1456845982/skate_k8xyfu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 28%;
  }

  .mid-top-right-banner{
    background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846046/about-media-3_y7hmdz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  //twins picture featured closet
  .mid-top-left-banner{
    background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846261/featured-banner_yieus2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  //style tips
  .mid-bottom-right-banner{
    background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456337531/hjcfbyeyhfn83yyjn9n0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  //test go
  .mid-bottom-left-banner{
    background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1467999633/Ike_The_Young_Huntrs_frnppo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
