<template name="faq">
  <div class="faq-page">
    <!-- top banner -->
    <div class="jumbotron faq-banner">
      <div class="text">
        <h1>FAQs</h1>
      </div>
    </div>

    <!-- about section -->
    <div class="content about-content">
      <div class="container">
        <h2>Smart questions you might have...</h2>
        <!-- QUESTION 1 -->
        <h2>Why should I use HUNTRS?</h2>
        <p>It is important that you present your best self to the world.  Whatever your style is, HUNTRS exists to help you embody it flawlessly.  It can be hard to find the exact items you want.  They are often expensive or just hard to locate.  HUNTRS exists to make it easier to look like your best self without breaking your bank account.  Simply sign up, start hunting, start following some closets, and see what you find!  Happy hunting!</p>
        <!-- QUESTION 2 -->
        <h2>How does HUNTRS help people and the planet?</h2>
        <p>Every year, 12 million tons of textile waste is generated in North America.  Meanwhile, we’re spending too much on clothing, most of which is being made by workers who are not being paid fair wages.  And most of us have perfect items sitting in our closets--items that we’ve only worn once or twice--items that others would love to wear.  What if instead of running out to stores and buying expensive new items, we open our closets and buy from each other, we reduce the waste, save space, save money, and prevent unhealthy and unfair labor practices?  It’s a win-win-win-win proposition.  Get down with it!  </p>
        <!-- QUESTION 3 -->
        <h2>How do I sell items on HUNTRS?</h2>
        <p>Selling items on HUNTRS is easy.  Once you register, just click the Sell button on the top navigation bar and you will be directed to a listing page, follow the prompts to describe your item. Be sure to take nice pics of your items.  Clean them and iron them, if appropriate.  Present them in front of a clean background.  If there’s a particular feature or blemish, make sure to show it close-up.  And use the highest quality photograph you can.  Hit Add Product and you’re good to go, bro!</p>
        <!-- QUESTION 4 -->
        <h2>How much do I receive when I sell an item to a fellow Huntr?</h2>
        <p>You earn 80% of the selling price for any item you sell in our store. The funds will be transferred to your registered PayPal account.</p>
        <p>How is price determined? If you have a price, great!  If not, we’ll make a suggestion.  Our team is constantly working to determine the best value for our community of HUNTRS.  We take into consideration a few factors such as the Manufacturer’s Suggested Retail Price (MSRP), the age, condition and quality of the item, style and how much in demand it is. </p>
        <!-- QUESTION 5 -->
        <h2>As a seller, when can I expect to receive my money? </h2>
        <p>Sellers will receive their money as soon as the buyer receives the item and verifies within 3 days of receipt that the item is as described by the seller. Therefore, it is highly recommended that the seller describes the item accurately and in great detail as well as provide images that reflect the condition of the item. </p>
        <!-- QUESTION 6 -->
        <h2>Is the information I provide to HUNTRS being protected?</h2>
        <p>Onehunted utilizes Stripe and PayPal’s secure system to protect your information.  We will not collect or retain your payment information.  And the only information of yours that will ever be shared is when your mailing address is provided to HUNTRS from whom you have purchased items.</p>
        <!-- QUESTION 7 -->
        <h2>What if someone sends me an item that is not what they claimed it was?</h2>
        <p>If someone sends you something that is not what they claimed in the item description, you will receive a full refund.  Guaranteed.  This includes brand knock-offs, items that are in worse condition than described, or when sizes were misrepresented.</p>
        <!-- QUESTION 8 -->
        <h2>How do I return an item if it is not what was described?</h2>
        <p>A return request can be submitted anytime within 72 hours of receiving an item.  Contact us via phone or email to initiate the return.  Please include all relevant information in any correspondence, including specifics on how the item was misrepresented by the seller.</p>
        <!-- QUESTION 9 -->
        <h2>What if I purchase an item and then I don’t like it?</h2>
        <p>We understand that occasionally an item can look fly online, but when you receive it, it doesn’t fit your style or swag.  We cannot offer refunds on such items, but you are welcome to repost them in your closet and help them find a happier home.</p>
        <!-- QUESTION 10 -->
        <h2>How do the items I order get to me?</h2>
        <p>Every time an item is sold on HUNTRS, the seller will receive a HUNTRS Shipping Kit to place the purchased item(s) in.  The seller is responsible for sending the purchased items within 2 days of receiving the shipping kit. </p>
        <p>If an order is placed by 3pm Eastern Standard Time (EST), then the shipping kit will be sent out the same day. However if it is placed after that time, it will be sent out the following business day. </p>
        <!-- QUESTION 11 -->
        <h2>What if I want to talk to a human being?</h2>
        <p>If you have any questions or concerns, give us a shout!  We're here to help in your hunt. </p>
        <p>You can reach us at <a href="mailto:customerservice@huntrs.co">customerservice@huntrs.co</a> or <a href="tel:6572294868">657.229.HUNT</a> (4868)</p>
        <br>
        <br>
        <br>
      </div>

    </div>



  {{> footer}}


  </div>

</template>
