<template name="landingPro">
  <div id="landing">
    <div class="row">
      <div class="col-xs-12 banner top-banner">
        <p>Begin Hunting</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 banner mid-top-right-banner"><p>How it works</p></div>
      <div class="col-xs-6 banner mid-top-left-banner"><p>Featured Closet</p></div>
    </div>
    <div class="row">
      <div class="col-xs-6 banner mid-bottom-left-banner"><p>Content</p></div>
      <div class="col-xs-6 banner mid-bottom-right-banner"><p>Content</p></div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12 banner bottom-banner"><p>Style Poop</p></div>
    </div> -->
  </div>
</template>
