#landing{

  .row{
    // min-height: 20%;
    min-height: 40vh;
    text-align: center;
    // line-height: 20%;
    line-height: 40vh;
  }
  .banner{
    border: 5px solid #000;
    p{
      font-size: 4rem;
      color: white;
      font-family: gotham;
      background: rgba(0,0,0,0.2);
      margin: 0;
      padding: 0;
      margin-right: -4px;
      margin-left: -5px;
      transition-duration: 0.3s;
      cursor: pointer;
      text-transform: lowercase;
      text-shadow: 1px 1px 1px black;
    }
    p:hover{
      transition-duration: 0.3s;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .top-banner{
    background-image: url('resources/bwstripes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mid-top-right-banner{
    background-image: url('resources/about-media-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mid-top-left-banner{
    background-image: url('resources/landing-featured.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mid-bottom-right-banner{
    background-image: url('resources/style.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mid-bottom-left-banner{
    background-image: url('resources/bwjacket.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bottom-banner{
    background-image: url('resources/boatsntie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
