<template name="rules">
  <div class="rules container">
    <h1>Rules of the Tribe</h1>
    <p dir="ltr">
    RULES of the TRIBE/ COMMUNITY GUIDELINES
    <br/>
    <br/>
    The HUNTRS team works extra hard to build a community based on trust and respect. We think this makes our community special and hopefully you think so too!
    Please help us continue this tradition by following the guidelines below:
    <br/>
    <br/>
    Be Cool Fool
    <br/>
    <br/>
</p>
<p dir="ltr">
    HUNTRS is a chill community where everyone should feel safe and comfortable. We ask our users to be respectful in their interactions with others so that we
    can maintain a healthy and happy environment for everyone to enjoy. We are all individuals with our own thoughts and opinions - and we get that. We expect
    for everyone to be respectful of that as well.
    <br/>
    <br/>
    Be Yourself, Be Real
    <br/>
    <br/>
    Please be yourself when engaging with other community members. Spam and excessive self-promotion are never received well by others, so please refrain from
    partaking in such behavior.
    <br/>
    <br/>
    Talk to Us
    <br/>
    <br/>
    We want you to know that we are always here for you. Customer support is extremely important to us and we strive to go above and beyond for each of our
    community members. If you ever run into an issue, whether it's with an item that you purchased, or with another community member, please do not try to
    resolve the situation on your own. Reach out to us and we can help resolve the issue on your behalf. After all, that's what we're here for.
    <br/>
    <br/>
    WHAT HUNTRS IS FOR
    <br/>
    <br/>
    Men's Fashion and Accessories
    <br/>
    <br/>
    HUNTRS is a place for men's fashion and accessories. Pre-owned clothing and accessories can be listed on HUNTRS if they are clean and in good condition.
    Handmade men's fashion and accessories are also welcome.
    <br/>
    <br/>
    Creating Your Own Handsome Listing
    <br/>
    <br/>
    Creating a listing is quick and easy. That's why we encourage you to take those extra steps to showcase your style and get creative with your cover shot.
    We find that styling or modeling your item helps the item sell much more quickly, as opposed to when it's just on a hanger. The item should be clearly
    represented in the main photo. Try to avoid any post editing techniques that take away from highlighting the item such as collages or heavy special
    effects. We also ask that you do not use any photos in your listing that you did not take or get the permission to use. Click here to see more of our tips
    and a few examples of how you can jazz up your HUNTRS closet.
    <br/>
    <br/>
    <br/>
    Successful Transactions
    <br/>
    <br/>
    Sellers, if you accept an offer from a buyer, you must complete the sale. This means, once the buyer has hit the "Checkout Now" button and successfully
    submitted their payment and shipping information, you are expected to send the item they purchased. We understand that honest mistakes happen, but
    cancelled transactions create confusion and disappointment for your buyers. We expect that our community members be respectful of each other and fulfill
    their transactions with each other.
    <br/>
    <br/>
    Being a Trustworthy Seller
    <br/>
    <br/>
    One of the best things about HUNTRS is that listing is completely free. When creating a listing, please be honest in describing your item and disclose as
    much information as possible. Take care to be thorough and accurate about details such as the condition, fit, tailoring and original price and include
    photos that demonstrate condition when necessary. This way, buyers know exactly what it is that they are getting and the risk of a dispute is decreased.
    <br/>
    <br/>
    Fast Shipping
    <br/>
    <br/>
    As a seller, you must ship the purchased item to your buyer using the prepaid Priority mail shipping label provided by HUNTRS within five days after
    receiving the shipping label. Most sellers ship within two days.
    <br/>
    <br/>
    Being a Good Buyer
    <br/>
    <br/>
    Great sellers always deserve quick payment. Therefore, as a buyer, you must confirm that you've received and reviewed your purchase within three days after
    delivery. If you do not do so within three days, the order will be accepted on your behalf automatically and the funds will be released to the seller.
    <br/>
    <br/>
    Thorough Communication
    <br/>
    <br/>
    We strongly encourage that buyers and sellers thoroughly communicate before, during, and after each transaction. As a buyer, if you have questions about
    quality, condition, or fit that are not addressed in the listing, it's best to ask before purchasing the item so you know what you'll be receiving. As a
    seller, answering questions on your listings can lead to your next sale. It's also courteous to keep your buyer informed regarding the shipping status.
    <br/>
    <br/>
    <br/>
</p>
<p dir="ltr">
    Bundles
    <br/>
    <br/>
    The only thing better than selling something is selling multiple things! For this reason we encourage HUNTRS to make use of bundling to make more money as
    sellers and save more as buyers.
</p>
<p dir="ltr">
    <br/>
    Listing and Photo Permissions
    <br/>
    <br/>
    Make sure that you have the rights to sell any items you list on HUNTRS. Don't list anything that does not belong to you or that may violate any state or
    federal laws. Do not upload any images that you didn't take, that are of other people without their permission, or that you do not have the rights to use.
    <br/>
    <br/>
    Safety and Privacy
    <br/>
    <br/>
    Do not post anything on HUNTRS that creates a privacy or security risk for anyone. This includes screenshots of private communications or personal
    information. Do not attempt to collect or give out personal information.
    <br/>
    <br/>
    HUNTRS Brand Respect
    <br/>
    <br/>
    The HUNTRS name and logos are trademarked and may only be used with prior written permission.
    <br/>
    <br/>
    WHAT HUNTRS IS NOT FOR
    <br/>
    <br/>
    Non-men's Fashion and Accessories Items
    <br/>
    <br/>
    Don't buy or sell any goods or services through HUNTRS other than men's fashion and accessories items. These listings clutter the marketplace and make
    shopping for fashion more difficult and less enjoyable for others. See our prohibited items policy for more info.
    <br/>
    <br/>
    Counterfeits
    <br/>
    <br/>
    Not only is the sale of counterfeits and unauthorized replicas of branded products prohibited on HUNTRS, but it is also illegal. If the product you are
    listing bears the brand or logo of a company or designer, but it wasn't made or authorized by that company or designer, this item is not permitted. If you
    cannot verify the authenticity of an item, please do not list it on HUNTRS. Additionally, using a company's name or trademark in a way that may confuse
    buyers about the item's origins, or confuses buyers into believing that you or the item is affiliated with, sponsored by, or endorsed by the trademark
    owner is both illegal and a violation of our policies. Members who buy or list replicas or fakes risk immediate and permanent suspension from HUNTRS.
</p>
<br/>
<p dir="ltr">
    Used Underwear &amp; Socks
    <br/>
    <br/>
    We shouldn’t have to say it, but we HAVE TO SAY IT: For health and hygiene reasons, used underwear cannot be sold on HUNTRS. However, if this type of
    garment is brand new with tags attached, it may be sold on HUNTRS.
    <br/>
    <br/>
    Cologne
    <br/>
    <br/>
    USPS does not allow the shipment of cologne through the Priority Mail system, which is the type of label that HUNTRS uses. As such, these items are not
permitted on HUNTRS. For more information on what USPS deems a hazardous material,    <a href="http://pe.usps.com/text/pub52/pub52apxa.htm#ep725700">please visit this page</a>.
    <br/>
    <br/>
    Taking Transactions or Conversation Off the HUNTRS Platform
    <br/>
    <br/>
    Taking any part of a transaction, including discussion about details or negotiations, off the HUNTRS platform is a violation of our rules. This sort of
    activity hurts everyone--both you and the HUNTRS community--by breaking down the sense of trust and integrity we have on the HUNTRS web app. HUNTRS cannot
    protect transactions or uphold agreements that are not made through our platform. We ask that you do not share your email address, or any other personal
    information, on our platform and keep all transactions on HUNTRS.
    <br/>
    <br/>
    Bullying and Harassment
    <br/>
    <br/>
    We have a zero tolerance policy for content or conversation that is harmful, threatening, abusive, excessively violent, defamatory, libelous, invasive of
    another's privacy, or racially/ethnically hateful. Don't try to get around the block feature or otherwise attempt to communicate with someone who has asked
    you to stop. We kindly ask that you do not engage users who behave inappropriately. Instead, send us an email about it right away and we would be happy to
    look further into the matter and take the appropriate actions.
    <br/>
    <br/>
    Vulgarity and Obscenity
    <br/>
    <br/>
    Keep it clean and do not post anything that is vulgar, pornographic in nature, or otherwise obscene.
    <br/>
    <br/>
    Soliciting Donations
    <br/>
    <br/>
    Saving up for those boots? Raising money for your school? Need extra money for recovery? No matter the cause, all HUNTRS are welcome to sell their men's
    fashion and accessories for any reason they choose. However, HUNTRS is not the place to ask for or otherwise solicit monetary or physical donations of any
    kind either through our platform or by advertising a third party site.
    <br/>
    <br/>
</p>
<p dir="ltr">
    <br/>
    Closed Groups
    <br/>
    <br/>
    We strive to make HUNTRS a community/tribe that is as inclusive as possible. As such, forming and participating in groups or subsections within the HUNTRS
    community at large where members must be approved or meet certain criteria is not condoned.
    <br/>
    <br/>
    Giveaways
    <br/>
    <br/>
    At this time, it is against our policies to conduct your own giveaways, contests, or sweepstakes on the HUNTRS platform.
    <br/>
    <br/>
    Trading
    <br/>
    <br/>
    Our policy does not cover trades within the system. When payment for the full value of items is not exchanged through the HUNTRS system, we cannot
    guarantee that both parties will ship their items to each other as promised or as described. Trading is based on an honor system and is difficult for us to
    support. For this reason, we discourage users from trading on HUNTRS so that we can provide users with the protection that they deserve.
</p>
<br/>
<p dir="ltr">
    Buyer's Remorse
    <br/>
    <br/>
    If you purchased an item on HUNTRS, you are obligated to complete the transaction. However, we understand accidents do happen. Buyers may cancel accidental
    purchases through our platform within three hours from time of purchase. We recommend that all users log out of their account when they are not using the
    app to avoid accidental purchases which create confusion and disappointment for our sellers.
    <br/>
    <br/>
    Automated Participation
    <br/>
    <br/>
    Do not use programs or other forms of automation to participate on HUNTRS. This includes, but is not limited to liking, sharing, following, and
    unfollowing.
    <br/>
    <br/>
    Content Mining
    <br/>
    <br/>
    Do not use HUNTRS to collect personal data. You also may not use any images found on HUNTRS for your own purposes unless authorized by HUNTRS. The
    exception to this is your own content.
    <br/>
    <br/>
</p>
<p dir="ltr">
    <br/>
    Multiple Accounts
    <br/>
    <br/>
    You may only have one active account on HUNTRS unless you receive written permission from HUNTRS.
    <br/>
    <br/>
    Penalties
    <br/>
    <br/>
    Should we find your account to be in violation of any of the above, we may send you an email or take permanent or temporary action on your account
    privileges.
    <br/>
    <br/>
If you see any violations, you may let us know by using the report function on any listing or closet. You can also drop us an email at    <a href="mailto:customerservice@huntrs.co">customerservice@huntrs.co</a> or call us at or 657.229.HUNT (4868).
    <br/>
    <br/>
    Still have questions about what is permitted on HUNTRS? We'd love to hear from you. After all, we're here to help!
</p>
<div>
    <br/>
</div>
  </div>
  {{>footer}}
</template>
