<template name="featuredCloset">
  <div class="featured-closet">
    <!-- top banner -->
    <div class="jumbotron featured-banner">
      <div class="text">
        <h1 class="title-text">Game Recognize Game</h1>
        <h2>Nick & Justin Featured Closet</h2>
      </div>

    </div>
    <!-- about section -->
    <div class="content about-content">
      <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-0"></div>

            <div class="col-md-8 col-sm-12">
              <h1>Nicholas and Justin speak on what looking good means to them.</h1>
              <p>“Our father was very, very stylish, but because of what he did for a living he didn’t get a chance to wear the kind of clothes that he wanted.  He threw bags for American Airlines and mom punched the tickets of people going on dream vacations that our folks couldn’t afford to go on.  So for me, personally, every day I get dressed I’m paying homage to my father.  And I know that he’s smiling down and is so excited that we have opportunities that he didn’t have like trying to decide, ‘Which tie am I going to wear to work?  What cufflinks?  How am I gonna match this shirt with this suit?’  That wasn’t his reality.  His reality was I have a navy blue AA jumper with 'Bruce’ on it and that’s what I have to wear.  So the fact that I have a choice in what I wear to work is my way of paying homage to my dad for the hard work he did.”</p>
              <p>- Justin</p>
            </div>

            <div class="col-md-2 col-sm-0"></div>

          </div>
        </div>

    </div>
    <!-- second banner -->
    <div class="jumbotron featured-banner second-banner">
      <div class="text">
        <h2>“All of your experiences shape you.  Your lifestyle is your brand.”</h2>
      </div>
    </div>

    <!-- content and media section -->

    <div class="content sub-title-content">
      <div class="container">


        <!-- media section -->
        <div class="row media-row">
          <!-- <div class="col-md-12 closet-media media-large large-one"><img class="img-responsive" src="'/resources/featured-tie.jpg'" alt="" /></div> -->
          <div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847649/featured-media-1_qvcfbh.jpg" alt="Suit and pocket square"></div>
          <div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847676/featured-media-2_c59jkx.jpg" alt="Watch, Shoes, Suit"></div>
        </div>

        <div class="col-md-2 col-sm-0"></div>

        <div class="col-md-8 col-sm-12">
          <h1>Nicholas and Justin speak on what doing good means to them…</h1>
          <p>“Being in education and working with families touches eternity. This transcends class, race, ethnicity, and language.  For example, I rode the bus–because the kids were acting up–and got off at 11th and Windrum, which is a rough area, and when I got off I heard a guy say ‘Mr. Pascale!’  That transcends being white, being in a suit, there’s love everywhere.  It’s a beautiful thing when you feel that.  It’s a genuine respect.”</p>
          <p>- Nicholas</p>
        </div>

        <div class="col-md-2 col-sm-0"></div>

        <div class="row media-row">
          <!-- <div class="col-md-12 closet-media media-large large-one"><img class="img-responsive" src="'/resources/featured-tie.jpg'" alt="" /></div> -->
          <div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847728/featured-media-3_tbr3ey.jpg" alt="Mentoring"></div>
          <div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846597/about-media-1_roos2e.jpg" alt="Peace, Love, Happiness"></div>
        </div>


      </div>
    </div>

    <!-- QUESTION SECTION -->
    <div class="content sub-title-content">
      <div class="container questions">
        <p>“If you’re going to wear a suit you should wear it better than the next guy.  No one wants to be the third best at anything.  You should always be shooting to be the best.  I always want to be someone who’s leading the charge.  With my funds, being an educator, I have certain limitations but we’re thrifty and we have a great tailor and we have friends who have a great design eye.”</p>
        <p>-Justin</p>
      </div>
    </div>

  <!-- OUTRO SECTION -->
  <div class="jumbotron featured-banner third-banner">
    <div class="text">
      <!-- <h1>Elliott Hughes</h1>
      <h2>Featured Closet</h2> -->
    </div>
  </div>
  <div class="content sub-title-content">
    <div class="container">
      <div class="col-md-2 col-sm-0"></div>

      <div class="col-md-8 col-sm-12">
        <p>“Trends don’t last. Classic is always a better look. Mixing classic and trends to make it more edgy—that might work.  If you only buy things that are trendy you won’t find them in your closet very long.  My thing with fashion is it’s definitely about fit over price tag.  It’s about quality of materials too of course.  Just because it’s Versace, doesn’t mean it’s gonna look great on you.”</p>
        <p>-Nicholas</p>
        <br>
        <h1 style="text-align:center;">Men Don't Shop They Hunt</h1>
        <h2 style="text-align:center;"><a href="/products"> -- Begin Hunting -- </a></h2>
      </div>

      <div class="col-md-2 col-sm-0"></div>
      <div style="margin-top:3rem" class="row social">
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.facebook.com/Onehunted"><i class="fa fa-facebook"></i></a></div>
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.instagram.com/theonehunted"><i class="fa fa-instagram"></i></a></div>
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.twitter.com/theonehunted"><i class="fa fa-twitter"></i></a></div>
      </div>
      <!-- media section -->
      <!-- <div class="row media-row">
        <div class="col-md-12 closet-media media-large"><img class="img-responsive" src="/resources/boatsntie.jpg" alt="" /></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/buttons.jpg" alt=""></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/gloves.jpg" alt=""></div>
      </div> -->


    </div>
  </div>


  </div>
  {{>footer}}
</template>
