<template name="featuredCloset">
  <div class="featured-closet">
    <!-- top banner -->
    <div class="jumbotron featured-banner">
      <div class="text">
        <h1 class="title-text">Game Recognize Game</h1>
        <h2>Chris Emdin Featured Closet</h2>
      </div>

    </div>
    <!-- about section -->
    <div class="content about-content">
      <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-0"></div>

            <div class="col-md-8 col-sm-12">
              <h1>CHRIS EMDIN</h1>
		<p>Teachers College Columbia University Professor, and Co-Director of the Center for Health Equity and Urban Science Education, and Associate Director of the Institute of Urban and Minority Education at Teachers College at Columbia University. </p>
              <!--<p>“I see myself as this professor-slash-activist-slash-advocacy person-slash-science enthusiast-slash social media dude with #HipHopEd, but the core of the work is really engaging marginalized populations in disciplines that have been perceived as not a piece of who they are, and to let academia see the talent and gifts of youth who have an exterior esthetic that may seem anti-intellectual. That’s my work, man.” </p>
              <p>- Chris</p>-->
            </div>

            <div class="col-md-2 col-sm-0"></div>

          </div>
        </div>

    </div>
    <!-- second banner -->
    <div class="jumbotron featured-banner second-banner">
      <div class="text">
        <h2>“Change the world and dress well doing it.”</h2>
      </div>
    </div>

    <!-- content and media section -->

    <div class="content sub-title-content">
      <div class="container">


        <!-- media section -->
        <!--<div class="row media-row">
          <div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847649/featured-media-1_qvcfbh.jpg" alt="Suit and pocket square"></div>
          <div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847676/featured-media-2_c59jkx.jpg" alt="Watch, Shoes, Suit"></div>
        </div>-->

        <div class="col-md-2 col-sm-0"></div>

        <div class="col-md-8 col-sm-12">
	  <br>
          <p>“I see myself as this professor-slash-activist-slash-advocacy person-slash-science enthusiast-slash social media dude with #HipHopEd, but the core of the work is really engaging marginalized populations in disciplines that have been perceived as not a piece of who they are, and to let academia see the talent and gifts of youth who have an exterior esthetic that may seem anti-intellectual. That’s my work, man.” </p>
	<br>
        </div>

        <div class="col-md-2 col-sm-0"></div>

        <div class="row media-row">
          <!-- <div class="col-md-12 closet-media media-large large-one"><img class="img-responsive" src="'/resources/featured-tie.jpg'" alt="" /></div> -->
          <div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847728/featured-media-3_tbr3ey.jpg" alt="Mentoring"></div>
          <div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846597/about-media-1_roos2e.jpg" alt="Peace, Love, Happiness"></div>
        </div>


      </div>
    </div>

    <!-- QUESTION SECTION -->
    <div class="content sub-title-content">
      <div class="container questions">
	<!--QUESTION-->
        <p><b><i>HUNTRS: What are some of your go-to style moves, in terms of how you present yourself to the world?</i></b></p>
        <p>Chris Emdin: One of my mantras—it’s on my Instagram page—is: ‘Change the world and dress well doing it.’  My whole mindset has always been that folks who are out there trying to affect change have a responsibility to present a certain type of aesthetic that’s readable to the public.  Folks who perceive themselves as revolutionary folks in the trenches, almost pride themselves on being anti-visual aesthetics.  I think that’s so counterproductive. I think people are drawn to folks who take pride in how they look and how they present themselves…  <b>The information that comes out of your mouth should be as golden as the outfit you have on your back…  I have to feel good to be able to share good information.  I can’t give a talk or teach a class if I don’t feel confident. Part of feeling confident is how I look.</b></p>
	<br><br>
	<!--QUESTION-->
	<p><b><i>HT: What style tips would you give to others?</i></b></p>
	<p>CE: Style is about mixing it up.  If you write an academic paper, you have to cite established scholars to make arguments about new ideas.  When you dress, you have to draw cues from historically classic looks and mix that up with the contemporary.</p>
	<p><b>Here are my style rules:</b></p>
	<p><b>
	1. Change the world and dress well doing it.<br>
	2. If you look good and feel good, you do good.<br>
	3. Always mix it up. <br>
	4. Have your own identity—you don’t want to copy someone else’s swag.<br>
	</b></p>
	<br><br>
	<!--QUESTION-->
	<p><b><i>HT: How would you describe the origins of your style?</i></b></p>
	<p>
CE: I grew up in Brooklyn in the ‘90s.  If you know anything about Brooklyn in the ‘90s, there was this crew called the Lo Lifes.  So I was all about wearing Polo. Because of the iconic status of the brand, because everyone who rocked Lo was perceived as having a different class.  But then as I grew older, I started to think about what rocking Lo meant and I started to embody what that was.
	</p> 
	<p>
<b>So my style now comes from holding onto where I’m from and where I am, but then starting to draw cues from these places where I’m not supposed to be.</b>
	</p>
	<p>
I can take something super highbrow and incorporate it with something lowbrow from my hip-hop aesthetic and put it together.
	</p>
	<p>
It’s like the cues that you draw from the folks who are perceived to be on a different cultural or economic plane from you.  It’s not about adopting their aesthetic, it’s about: <b>‘yo, I could rock what y’all think is popping and then flip it and make it even more poppin’!’  it’s like the art of the remix, but you’re remixing your gear.</b>
	</p>
	<p>
<b>This notion of aspirational esthetics is such a powerful construct, and it's also a piece of what a lot of young people are doing now with their style—this hybridity.</b>  Forming these hybridized identities around how you speak, but also how you dress—it’s really what it's all about.
	</p>
	<br><br>
	</div>
</div>
<!--IMAGES-->
	<div class="row media-row">
          	<div class="col-md-6 closet-media media-small small-one"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847649/featured-media-1_qvcfbh.jpg" alt="Suit and pocket square"></div>
          	<div class="col-md-6 closet-media media-small small-two"><img class="img-responsive" src="https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847676/featured-media-2_c59jkx.jpg" alt="Watch, Shoes, Suit"></div>
 	</div>
<div class="content sub-title-content">
      <div class="container questions">
	<!--QUESTION-->
	<p><b><i>HT: So, how do you think we can make ethical sustainable consumption aspirational in that way?</i></b></p>
	<p>
CE: Right, I think it's when we start moving beyond brand loyalty.  So, like, I came up allegiance to ‘Lo.  I got ‘Lo sweaters I’m going to put on the app, like classic joints.  And I’m putting them on the app because I want to get rid of those joints and I know I can probably get some bread for it, right?  But it's like the minute I started moving beyond brand loyalty to just owning my own look, then <b>I realized that it wasn't really about the brand, it wasn’t really about Ralph per se, it was about the look, and I can get that look from anywhere. </b> 
	</p>
	<p>
So, like just to put you all on game, like, the other day my wife and I were on two-fifth.  She was like, “Yo, I heard something crazy is going down.”  I am like “What?”  She’s like, “Old Navy got a sale on button-ups,” and if I said that to my ‘Lo heads, they would be like, “What?”  So, I hit Old Navy up, son and got these dope, dope Oxford joints, really good quality for like ten bucks each!  So I went HAM and caught like four or five joints for the price of one joint.  But when I rock my Old Navy oxford, you know, it just might be with an Armani blazer.  It just may be!  It might be with some Ralph.  <b>And when you move beyond brand loyalty to embracing your own esthetic and you realize that it's not really about the branding per se, it's about the look that you've developed for yourself.</b>
	</p>
	<p>
<b>Another way is really, like, hunting.  You know what I mean, HUNTRS!  Sometimes, I go gear hunting.  Like, I literally go gear hunting.</b>  So I might hit a spot that might not be a spot, but I'm actually looking for a jewel that I'm adding.  And also part of the game is: How can I beat them over the head?
	</p>
	<p>
You catch the sale <i>on the sale,</i> you know what I mean.  You know how you would hide a joint in a store so you know it’s in a section that you know nobody is going to, so when you go back—all that kind of stuff is a part of the process, like it becomes a piece of how you admire the joint.  My crib is that like, my whip is that…
	</p>
	<br><br>
	<!--QUESTION-->
	<p><b><i>HT: You talk about what you rock playing an important role in being able to get up and speak or go into a school and have the attention of young people and do the work you do.  Could you share a little more about what that work is and how your swag influences it?</i></b></p>
	<p>
	CE: I mean my work is very multi-layered.  The main way I'm categorized is: Chris Emdin, Teachers College Columbia University professor, and Co-Director of the Center for Health Equity and Urban Science Education, and Associate Director of the Institute of Urban and Minority Education at Teachers College at Columbia University.  So, that's the tagline.  
	</p>
	<p>
For some people, that’s a very impressive tagline, but my work really goes beyond that.  My work is really in engaging communities with youth of color particularly around science, technology, engineering, and mathematics.  My background is in the sciences.  I have an undergrad degree in physical anthropology, biology, and chemistry.  A Masters Degree in natural sciences.  My Doctorate is in urban education with a specialization in math, sciences, and technology.  <b>All along my career, I've been this dude who's been like really into science and math—some real geek shit—but at the same time, I've been always good in the hood. </b>
 	</p>
	<p>
There were points along my life where I felt like folks forced me to make a decision, and so now as a scholar, <b>I see myself as this professor-slash-activist-slash-advocacy person-slash-science enthusiast-slash social media dude with #HipHopEd, but the core of the work is really engaging marginalized populations in disciplines that have been perceived as not a piece of who they are, and to let academia see the talent and gifts of youth who have an exterior esthetic that may seem anti-intellectual.  That’s my work, man.</b>  I hate to be minimalized to just one thing.  You know, <i>I do all those things every day.</i>
	</p>
      </div>
    </div>

  <!-- OUTRO SECTION -->
  <div class="jumbotron featured-banner third-banner">
    <div class="text">
      <!-- <h1>Elliott Hughes</h1>
      <h2>Featured Closet</h2> -->
    </div>
  </div>
  <div class="content sub-title-content">
    <div class="container">
      <div class="col-md-2 col-sm-0">
	</div>

      <div class="col-md-8 col-sm-12">
	<p></p>
        <br>
        <h1 style="text-align:center;">Men Don't Shop They Hunt</h1>
        <h2 style="text-align:center;"><a href="/products"> -- Begin Hunting -- </a></h2>
      </div>

      <div class="col-md-2 col-sm-0"></div>
      <div style="margin-top:3rem" class="row social">
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.facebook.com/Onehunted"><i class="fa fa-facebook"></i></a></div>
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.instagram.com/theonehunted"><i class="fa fa-instagram"></i></a></div>
        <div class="col-xs-4"><a class="hvr-grow" href="https://www.twitter.com/theonehunted"><i class="fa fa-twitter"></i></a></div>
      </div>
      <!-- media section -->
      <!-- <div class="row media-row">
        <div class="col-md-12 closet-media media-large"><img class="img-responsive" src="/resources/boatsntie.jpg" alt="" /></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/buttons.jpg" alt=""></div>
        <div class="col-md-6 closet-media media-small"><img class="img-responsive" src="/resources/gloves.jpg" alt=""></div>
      </div> -->


    </div>
  </div>


  </div>
  {{>footer}}
</template>
