.contact-us{
  h1,h2{
    color: black;
  }
  .gotham{
    font-family: gotham;
  }
  .contact-banner{
    background-image: url('resources/contact-banner.jpg');

    // margin-top:-66px;
    // min-height: 50%;
    // min-height: 50vh;
    padding: 0;
    .text{
      position: relative;
      z-index: 0;
      text-align: center;
      color: #fff;
      // top: 54%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      // margin-top: -122px;
      // left: 0;
      height: 100vh;
        h1{
          font-size: 5em;
          color: white;
          font-family: gotham;

          text-shadow: 1px 1px 1px black;
          text-transform: uppercase;
          // font-style: italic;
          letter-spacing: 4px;
          margin-top: 10vh;
        }
        h2{
          font-family: gotham;
          text-shadow: 1px 1px 1px black;
          // font-style: italic;
          color: white;
          text-transform: lowercase;
          margin-top: 20vh;
        }
        a{
          color: white;
          border-bottom: 1px solid white;
        }
        .social{
          text-align: center;
          .col-xs-4{
            text-align: center;
            a{
              text-decoration: none;
              border-bottom:none;
              font-size: 3.3em;
            }
          }
        }

    }
  }
}
