<template name="contact">
  <div class="contact-us">
    <!-- top banner -->
    <div style="padding:0;" class="jumbotron contact-banner">
      <div class="text">
        <div class="container">
          <h1>Contact Us</h1>
          <h2>Be in touch!</h2>
          <br>
          <p class="gotham">You can reach us at <a class="gotham" href="mailto:customerservice@huntrs.co">customerservice@huntrs.co</a> or <a class="gotham" href="tel:6572294868">657.229.HUNT</a> (4868)</p>

          <div style="margin-top:3rem" class="row social">
            <div class="col-xs-4"><a class="hvr-grow" href="https://www.facebook.com/Onehunted"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-4"><a class="hvr-grow" href="https://www.instagram.com/theonehunted"><i class="fa fa-instagram"></i></a></div>
            <div class="col-xs-4"><a class="hvr-grow" href="https://www.twitter.com/theonehunted"><i class="fa fa-twitter"></i></a></div>
          </div>
        </div>
      </div>
    </div>

  {{> footer}}


  </div>
</template>
