// DECLARE EACH TAG NAMES BACKGROUND
.product-page{
  background-image: url('resources/Hunters-Explore.jpg');
}
.works-banner{
  background-image: url('resources/gloves.jpg');

}
.products{
  background-image: url('resources/about-banner-2.jpg');
}
.shirts{
  background-image: url('resources/shirts-banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.shoes{
  background-image: url('resources/shoes-banner.jpg');
}
.suits{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177448/suits-banner_zbpsnv.jpg');
}
.belts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177446/belts-banner_p5vvwz.jpg');
  background-position: bottom!important;
}
.pants{
  // background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456178097/pants-banner_uljbkk.jpg');
  // background-position: bottom!important;
}
.sweaters{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177808/sweater-banner_n7wdfi.jpg');

}
.ties{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253133/ties_im6scf.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom;
}
.hats{
  background-image: url('resources/hats-banner.jpg');
}
.blazers-sport{
  background-image: url('resources/blazersport-banner.jpg');
}
.pocket-squares{
  background-image: url('resources/pocketsquare-banner.jpg');
}
.lapel-pins{
  background-image: url('resources/lapelpins-banner.jpg');
}
.faq-banner{
  background-image: url('resources/faq-banner.jpg');
}
// .contact-banner{
//   // background-image: url('resources/contact-banner.jpg');
// }
