// DECLARE EACH TAG NAMES BACKGROUND
.product-page{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847106/Hunters-Explore_wp85yb.jpg');
}
.works-banner{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847172/gloves_aqm3wu.jpg');

}
.products{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847106/Hunters-Explore_wp85yb.jpg');
}
.shirts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253606/shirts-banner_rbjvvg.jpg');
  // background-size: contain;
  background-repeat: no-repeat;
  background-position-y:20%!important;
}
.shoes{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847025/shoes-banner_qusr3f.jpg');
}
.suits{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253133/ties_im6scf.jpg');
}
.socks{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253788/socks-banner_plvwdd.jpg');
  background-position: bottom!important;
}
.belts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177446/belts-banner_p5vvwz.jpg');
  background-position: bottom!important;
}
.accessories{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456254152/186H_oob6x5.jpg');
  background-position-y: 20%!important;
}
.pants{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456254300/O9UAOILDA2_syssqg.jpg');
}
.sweaters{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177808/sweater-banner_n7wdfi.jpg');
  background-position-y: 20%!important;

}
.ties{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253133/ties_im6scf.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom;
}
.hats{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846847/hats-banner_owcb8p.jpg');
}
.blazers-sport{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846887/blazersport-banner_r3n8d8.jpg');
}
.pocket-squares{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846918/pocketsquare-banner_kbtdtj.jpg');
}
.lapel-pins{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846949/lapelpins-banner_fsjxlw.jpg');
}
.faq-banner{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846987/faq-banner_urumzc.jpg');
}
// .contact-banner{
//   // background-image: url('resources/contact-banner.jpg');
// }
