// DECLARE EACH TAG NAMES BACKGROUND
.product-page{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847106/Hunters-Explore_wp85yb.jpg');
}
.works-banner{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847172/gloves_aqm3wu.jpg');

}
.products{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847106/Hunters-Explore_wp85yb.jpg');
}
.shirts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253606/shirts-banner_rbjvvg.jpg');
  // background-size: contain;
  background-repeat: no-repeat;
  background-position-y:20%!important;
}
.shoes{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456847025/shoes-banner_qusr3f.jpg');
}
.suits{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253133/ties_im6scf.jpg');
}
.socks{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456253788/socks-banner_plvwdd.jpg');
  background-position: bottom!important;
}
.belts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177446/belts-banner_p5vvwz.jpg');
  background-position: bottom!important;
}
.accessories{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456254152/186H_oob6x5.jpg');
  background-position-y: 20%!important;
}
.pants{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456254300/O9UAOILDA2_syssqg.jpg');
}
.sweaters{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456177808/sweater-banner_n7wdfi.jpg');
  background-position-y: 20%!important;

}
.ties{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458065871/ties_zypa2s.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom;
}
.hats{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846847/hats-banner_owcb8p.jpg');
}
.blazers-sport{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846887/blazersport-banner_r3n8d8.jpg');
}
.pocket-squares{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846918/pocketsquare-banner_kbtdtj.jpg');
}
.lapel-pins{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846949/lapelpins-banner_fsjxlw.jpg');
}
.faq-banner{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456846987/faq-banner_urumzc.jpg');
}
.luggage{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1456254152/186H_oob6x5.jpg');
}
.cufflinks-tie-clips{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458065910/cufflinks_onus2v.jpg');
  background-position: bottom!important;
}
.sneakers{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458066001/sneakers_b3f9yn.jpg');
}
.blazers{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458066372/blazers_bdbvif.jpg');
}
.jeans{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458066468/gloves_ac5jyx.jpg');
}
.boots{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1458067456/unspecified_bggnev.jpg');
  background-position-y: 42%!important;
}
.coats-jackets{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524943/coats-banner_exwod3.jpg');
}
.knitwear{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524151/knitwear-banner_wd2lkw.jpg');
}
.pants-shorts{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524218/pants-banner_rxedsh.jpg');
  background-position: bottom!important;
}
.sandals{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524318/sandals-banner_y48h02.jpg');
  background-position: right bottom!important;
}
.scarves{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524376/scarves-banner_sla7qv.jpg');
}
.dress-shoes{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524495/dress-shoes-banner_igrpre.jpg');
}
.jewelry{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524548/jewlery-banner_zcqg6t.jpg');
}
.sunglasses{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459524610/sunglasses-banner_ahaidn.jpg')
}
.new{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459525260/new-arrivals_gnxwxo.jpg');
}
.clothing{
  background-image: url('https://res.cloudinary.com/dvzdxf8an/image/upload/v1459525345/clothing_njl95k.jpg');
}

// .contact-banner{
//   // background-image: url('resources/contact-banner.jpg');
// }
