<template name="works">
  <div class="how-it">
    <div class="jumbotron">
      <h1>how it works</h1>

    </div>
  <div id="works" class="container">

    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-xs-12 col-md-8 step-one">
        <h1>1. Photograph Your Item</h1><i class="fa fa-camera-retro step-photo"></i>
        <br>
        <p>Take a few pictures of your item (front, back, inside label, and any special details) and upload it to your HUNTRS closet.  Be sure to take clear photos of the items you wish to sell, if possible on a white background. Images shot on white backgrounds sell faster.</p>
        <p>While you’re at it, upload a handsome profile flick so we can put a face to the closet.</p>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-xs-12 col-md-8">
        <h1>2. List Your Product</h1><i class="fa fa-cloud-upload step-photo"></i>
        <br>
        <p>List any gently used item, from Armani to Zara. Brand doesn’t matter, we don’t discriminate. Try to include as many details as possible to accurately describe your product to potential buyers (size, condition, color,  tailoring work, etc.) If you have a price, great!  If not, we’ll make a suggestion. </p>
        <br>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-xs-12 col-md-8">
        <h1>3. Approval Process</h1><i class="fa fa-eye step-photo"></i>
        <br>
        <p>Once we receive your listing, our team will review and let you know which items make the cut. We want to stay true to our mission of providing a curated experience for our fellow HUNTRS. That means ensuring the items listed on our app is on trend, of great quality and condition. In the beginning, you will be able to list up to 15 of the top items in your closet.</p>
        <br>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-xs-12 col-md-8">
        <h1>4. Your Earnings</h1><i class="fa fa-archive step-photo"></i>
        <br>
        <p>We offer an 80/20 split.  As the seller, you will receive 80% of the sell price and HUNTRS will receive 20%.  After we’ve approved your item, you’ll receive an alert that your product is available on the app for other HUNTRS to buy. We’ll also let you know how much you would make as the seller. </p>
        <br>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <h1>5. The Sale + Shipping </h1><i class="fa fa-cart-plus step-photo"></i>
        <br>
        <p>Once an item in your closet sells, you will be notified and that item will be marked as “SOLD”.  You will then receive a HUNTRS shipping kit to place the purchased items in and ship to the buyer.
        You’ll get paid as soon as the buyer receives the product and confirms within 3 days of receipt that it is as you have described it.</p>
        <br>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <h1>Step 6</h1><h3>Get paid. Repeat.</h3><i class="fa fa-money step-photo"></i>
      </div>
      <div class="col-xs-2"></div>
    </div> -->
    <br>
    <br>
  </div>
  {{> footer}}
 </div>

</template>
