<template name="shop">


{{!-- Product Templates --}}
<div class="jumbotron product-page">
    <div class="text">
      <h1>MEN DON'T SHOP. THEY HUNT.</h1>
    </div>
</div>
  <div class="">
    <!-- {{> headerTags}} -->
    <ul class="tag-link-list">
      <li><a class="header-header" href="/product/tag/new"><b>NEW ARRIVALS</b></a></li>
      <li><a class="header-header" href="/product/tag/clothing"><b>CLOTHING</b></a></li>
      <li><a class="product-tag" href="/product/tag/blazers">Blazers</a></li>
      <li><a class="product-tag" href="/product/tag/coats-jackets">Coats & Jackets</a></li>
      <li><a class="product-tag" href="/product/tag/jeans">Jeans</a></li>
      <li><a class="product-tag" href="/product/tag/knitwear">Knitwear</a></li>
      <li><a class="product-tag" href="/product/tag/pants-shorts">Pants & Shorts</a></li>
      <li><a class="product-tag" href="/product/tag/shirts">Shirts</a></li>
      <li><a class="product-tag" href="/product/tag/suits">Suits</a></li>
      <li><a class="header-header" href="/product/tag/shoes"><b>SHOES</b></a></li>
      <li><a class="product-tag" href="/product/tag/boots">Boots</a></li>
      <li><a class="product-tag" href="/product/tag/dress-shoes">Dress Shoes</a></li>
      <li><a class="product-tag" href="/product/tag/sandals">Sandals</a></li>
      <li><a class="product-tag" href="/product/tag/sneakers">Sneakers</a></li>
      <li><a class="header-header" href="/product/tag/accessories"><b>ACCESORIES</b></a></li>
      <li><a class="product-tag" href="/product/tag/belts">Belts</a></li>
      <li><a class="product-tag" href="/product/tag/cufflinks-tie-clips">Cufflinks & Tie Clips</a></li>
      <li><a class="product-tag" href="/product/tag/hats">Hats</a></li>
      <li><a class="product-tag" href="/product/tag/jewelry">Jewelry</a></li>
      <li><a class="product-tag" href="/product/tag/pocket-squares">Pocket Squares</a></li>
      <li><a class="product-tag" href="/product/tag/scarves">Scarves</a></li>
      <li><a class="product-tag" href="/product/tag/sunglasses">Sunglasses</a></li>
      <li><a class="product-tag" href="/product/tag/ties">Ties</a></li>


    </ul>

    {{> productListGrid}}

  </div>

  <!-- footer -->
  {{>footer}}
</template>
