.about-us{
  .gotham{
    font-family: gotham;
  }
  .about-banner{
    background-image: url('resources/about-banner.jpg');
    margin-top:-66px;
    min-height: 80%;
    min-height: 80vh;
    .text{
      position: relative;
      z-index: 0;
      text-align: center;
      color: #fff;
      // top: 54%;
      width: 100%;
      // margin-top: -122px;
      // left: 0;
      height: 100vh;
        h1{
          font-size: 5em;
          color: white;
          font-family: 'Garamond';

          text-shadow: 1px 1px 1px black;
          text-transform: uppercase;
          font-style: italic;
          letter-spacing: 4px;
          margin-top: 30vh;
        }
        h2{
          font-family: 'Garamond';
          text-shadow: 1px 1px 1px black;
          font-style: italic;
          color: white;
          text-transform: lowercase;
        }

    }
  }

  // Second full height banner
  .second-banner, .third-banner{
    margin-top: 0;
  }
  // Content layout
  .content{
    margin: 7rem 0;
    h1{
      // text-align: center;
      margin: 2rem 0;
      font-size: 5em;

    }
    p{
      font-size: 1.4em;
    }
      text-align: left;
  }

// Gallery for about
.media-row{
  // margin: 7rem 0 0;
  margin: 0;
}


  .about-media{
    border: 4px solid white;
  }
  .media-large{
    // img{
    //   max-height: 400px;
    //   margin: 0 auto;
    // }
  }
  .media-small{
    // img{
    //   max-height: 400px;
    //   margin: 0 auto;
    // }
  }


  // QUESTIONS SECTION
  .questions{
    text-align: left;
    .question{
      font-family: 'Garamond';
      margin: 3.5rem 0;


    }
  }


  .second-banner{
    background-image: url('/resources/about-banner-2.jpg');
  }
  .third-banner{
    background-image: url('/resources/about-banner-3.jpg');
  }
}



// backgrounds for banner

// .featured-banner{
//   background-image: url('/resources/featured-car.jpg');
// }

// .small-one{
//   background-image: url('/resources/about-media-1.jpg');
// }
// .small-two{
//   background-image: url('/resources/about-media-2.jpg');
// }
