<template name="layoutHeaderNew">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/resources/logo-white.png" alt="" /></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

              <li class="active explore-btn"><a href="/products">Hunt</a></li>

              {{#if currentUser}}
              <li class="profile-button"><a href="/profile/{{username}}">Sell</a></li>
              {{/if}}

              <li>
                {{#if currentUser}}
                  {{> search}}
                {{/if}}

                <!-- test for each username -->
                <!-- {{#each usernames}}
                <p>{{this}}</p>
                {{/each}} -->
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

              <li><a href="#">{{> accounts tpl="loginDropdown"}}</a></li>
              <li><a href="#">{{> cartIcon}}</a></li>

          </ul>

      </div>
  </div>

<div class="container-fluid">
  {{>bootstrapAlerts}}
</div>
</template>



<template name="search">
  <form class="navbar-form" role="search">
    <div class="input-group user-search">
        <textarea class="form-control typeahead" name="username" type="email" role="presentation" placeholder="Search for users..." autocomplete="off" spellcheck="off" data-source="usernames"></textarea>
    </div>
  </form>
</template>
