<template name="profile">
  <div id="userPro" class="container">
    <div id="profile" class="row">
      <div class="col-xs-4">

        <div class="row">
          <div class="col-md-5 col-xs-12">

            <!-- <img src="/images/profile.jpg" alt="" class="profile-img img-responsive"> -->
            <!-- {{> profile}} -->
          </div>
          <div class="col-md-7 col-xs-12">
            <div class="profile-content">
              <h1 class="username">{{username}}</h1>
              <p>{{email}}</p>
            </div>
          </div>
        </div>

        <div class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusantium quibusdam fugiat accusamus fugit suscipit et assumenda sint reiciendis. Repellendus ut similique quibusdam sunt enim dolores! Laboriosam nihil tempora in!</div>
        <h5>{{username}}'s style</h5>
        <div class="style">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo eveniet inventore tenetur, eum, doloribus ut exercitationem. Ad rerum maiores, at, molestiae deserunt, quasi exercitationem dicta numquam ducimus consequatur impedit.</div>

        <span class="editable" title="Rename this document" data-autotext="never"
        >{{this}}</span>

        <div class="send-email">
          <a href="mailto:{{email}}"><i class="fa fa-envelope"></i>message {{username}}</a>
        </div>

      </div>
      <div class="col-xs-1"></div>
      <div id="closet" class="col-xs-7">
        <div class="row">
          <p class="closet-name" style="padding-left:12px;">{{username}}'s Closet</p>

          {{#each products}}
          <div class="col-md-6 product">
            <a href="{{pathFor 'productPage'}}">
              <img src="/images/product.jpg" alt="">
              <div class="description">
                <a class="avatar product-desc"> </a>
                <p class="product-desc">${{price}}</p>
                <p class="title product-desc">{{name}}</p>
              <!-- <p class="author product-desc">{{author}}</p> -->
              </div>
            </a>
          </div>
          {{/each}}
          <div class="col-md-6">
            <a class="btn" href="{{pathFor 'addProduct'}}"><a class="add-product"><i class="fa fa-plus-circle"></i> Add New Product</a></a>

          </div>

          <span class="bottom-hash"></span>
        </div>
      </div>
    </div>
    <!-- display online users -->
    <!-- {{> users}} -->

  </div>




  <!-- if this is the current user -->
  {{#if isUser}}
    <h1>Hello World</h1>
    {{> editProfile}}



  {{/if}}
</template>

<template name="editProfile">
  <form class="user-name">
    <input type="text" name="username" placeholder="Set your username" />
  </form>

  <form class="first-name">
    <input type="text" name="first_name" placeholder="Add Your First Name" />
  </form>

  <form class="last-name">
    <input type="text" name="last_name" placeholder="Add Your Last Name" />
  </form>

  <form class="about">
    <input type="text" name="about" placeholder="Add A little Bit about yourself" />
  </form>
</template>
