<template name="profile">
  <div id="userPro" class="container">
    <div id="profile" class="row">
      <div class="col-xs-12 col-sm-6">

        <div class="row top-profile">
          <div class="col-md-6 col-xs-12">

            <img src="/resources/profile-pic.png" alt="" class="profile-img img-responsive inline">
            <h1 class="username inline">{{firstName}}</h1>
            <h4 class="inline">{{#if isVerified}}<i class="fa fa-check-circle-o"></i>{{else}}<i class="fa fa-times-circle"></i>{{/if}}</h4>
            <!-- {{> profile}} -->
          </div>
        </div>

        <!-- <div class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusantium quibusdam fugiat accusamus fugit suscipit et assumenda sint reiciendis. Repellendus ut similique quibusdam sunt enim dolores! Laboriosam nihil tempora in!</div> -->
        <!-- User style -->
        <h5>{{firstName}}'s style</h5>

        <div class="style">
          {{aboutYou}}
        </div>

        <span class="editable" title="Rename this document" data-autotext="never"
        >{{this}}</span>

        <div class="send-email">
          <a href="mailto:{{username}}"><i class="fa fa-envelope"></i>message {{firstName}}</a>
        </div>

      </div>

      <!-- <div class="hidden-xs col-sm-2"></div> -->

      <div id="closet" class="col-xs-12 col-sm-6">
        <div class="row">
          <p class="closet-name" style="padding-left:12px;">{{firstName}}'s Closet</p>

          <!-- EXAMPLE PRODUCT -->

          <div class="col-xs-12 col-md-6 product">

            <div class="product">
              <a class="" href="/product/QaCvrZFSvonsDpaHT">
                <img src="/resources/example-product.jpg" alt="">
                <div class="description">
                  <a class="avatar product-desc"> </a>
                  <p class="price">$170</p>
                  <p class="condition">Gently Worn</p>
                  <p class="title product-desc">Superhero Jacket</p>

                  <!-- <p class="id product-des">id: {{_id}}</p> -->
                <!-- <p class="author product-desc">{{author}}</p> -->
                </div>
              </a>
          </div>

          </div>
          {{#each products}}
          <div class="col-xs-12 col-md-6 product">
            <div class="product">
              <a class="" href="{{pathFor 'productsNew'}}">
                <img style="height:200px" src="/resources/buttons.jpg" alt="">
                <div class="description">
                  <a class="avatar product-desc"> </a>
                  <p class="price">${{price}}</p>
                  <p class="condition">{{type}}</p>
                  <p class="title product-desc">{{name}}</p>

                  <!-- <p class="id product-des">id: {{_id}}</p> -->
                <!-- <p class="author product-desc">{{author}}</p> -->
                </div>
              </a>
              {{#if isOwner}}
              <form class="idUpdate">
                <fieldset class="form-group">
                  <label for="product_id">Set Product Id</label>
                  <input type="text" class="form-control" name="productId" id="productId" placeholder="Set product Id" />
                </fieldset>
              </form>
              {{/if}}
            </div>
          </div>
          {{/each}}
          <div class="col-xs-12 col-md-6 product">
            {{#if isUser}}
            <a class="btn" href="{{pathFor 'addProduct'}}"><a class="add-product"><i class="fa fa-plus-circle"></i> Add New Product</a></a>
            {{/if}}
          </div>

          <span class="bottom-hash"></span>
        </div>
      </div>
    </div>
  </div>

<!-- footer -->
<div style="position:absolute; bottom:0; left:0; width:100%">
  {{> footer}}

</div>


  <!-- if this is the current user -->
  {{#if isUser}}

    <!-- {{> editProfile}} -->



  {{/if}}
</template>


<template name="editProfile">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">We are excited for you to get started!</h4>
                </div>

                <div class="modal-body">
                  <p>First we need a little bit of information from you so that we can build your closet!</p>
                  <form class="closetinfo">
                    <fieldset class="form-group">
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control" name="first_name" id="firstName" placeholder="Add Your First Name" />
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="last_name">Last Name</label>
                      <input type="text" class="form-control" name="last_bane" id="lastName" placeholder="Add Your Last Name">
                    </fieldset>

                    <fieldset class="form-group">
                      <label for="exampleTextarea">Tell us about your style and what is interesting to you.</label>
                      <textarea class="form-control" name="about" id="aboutYou" rows="3"></textarea>
                    </fieldset>
                    <!-- <fieldset class="form-group">
                      <label for="exampleInputFile">File input</label>
                      <input type="file" class="form-control-file" id="exampleInputFile">
                      <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                    </fieldset> -->
                    <!-- Agreeing to the terms -->
                    <!-- <div class="checkbox">
                      <p>By Submitting this information you are agreeing to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis animi, temporibus dicta quis nesciunt suscipit ipsum excepturi, ab qui ipsam, architecto veniam earum quisquam impedit nobis eaque obcaecati tenetur voluptas!</p>
                      <label>
                        <input type="checkbox"> I agree
                      </label>
                    </div> -->
                    <button type="submit" class="btn btn-primary closet-info-btn">Submit</button>
                  </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
