#userPro{
  .price, .condition{
    display: inline-block;
    margin-bottom: 0;
  }
  .price{
    float: left;
    font-family: 'HelveticaNeue-Bold';

  }
  .condition{
    float: right;
    font-family: 'EB Garamond';
    color: darkgrey;
    font-size: 0.9em;
  }
  .product-desc{
    clear: both;
  }
  .product{
    width: auto;
    height: 300px;
    img{
      height: 200px;
    }
  }
  .inline{
    display: inline-block;
  }


  .verified{
    color: #25C331;
    font-size:2.2em;
    position: absolute;
    top: 5px;
    right:10px;
  }
  .not-verified{
    color:#C1332C;
    font-size:2.2em;
    position: absolute;
    top: 5px;
    right:10px;
  }
}
