<template name="userProfile">

  <h1>hello</h1>






<!-- ORIGINAL -->
  <!--
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        {{> loginButtons}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{> users}}
        <hr/>
        <p class="bg-warning">Note that all data (users, posts, images) are purged periodically. If everything disappears while you're viewing this, that's what has happened.</p>
        <p>You can view this app's <a href="https://github.com/okgrow/meteor-image-upload/tree/master/examples/app">source code</a>.</p>
        <hr/>
          {{> profile}}
          <hr/>
          {{> Template.dynamic template=formTemplate data=formData}}
          <hr/>
          Sign in to send a chat message
      </div>
    </div>
  </div> -->
</template>



<template name="profile">
  <p class="profile-img img-responsive">
    {{> uploadImage imageCollection="userImages" doc=currentUser classImage="image-round" classInput="image-picker" inputName="user-image"}}
  </p>
</template>

<template name="users">
  <div id="users-online">
      <h5>User's Online</h5>
      <ul>
        {{#each users}}
          <li>{{> user}}</li>
        {{/each}}
      </ul>
  </div>

</template>

<template name="user">
  <li>
    <a href="#">
    {{id}}
    {{#if avatar}}
      <img class="uploaded-image" src="{{imageUrl}}"/>
    {{/if}}
    </a>
  </li>
</template>
