/*/////////////////////////////////
 ///GLOBAL COLORS
////////////////////////////////
$black: #000;
$green: #25C331;
$grey: #EFF0F1;
$darkgrey:#5D5D5D;
$white: #FFF;
$red: #C1332C;

//////////////////////////////
//// FONTS
/////////////////////////////
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
$garamond: 'EB Garamond', serif;
$helvet: 'HelveticaNeue-Bold';*/
