<template name="aboutUs">
  <div class="about-us">
    <!-- top banner -->
    <div class="jumbotron about-banner">
      <div class="text">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="container">
      <div class="row media-row">
        <!-- <div class="col-md-12 closet-media media-large large-one"><img class="img-responsive" src="'/resources/featured-tie.jpg'" alt="" /></div> -->
        <div class="col-md-6 about-media media-small small-one"><img class="img-responsive" src="/resources/about-media-1.jpg" alt=""></div>
        <div class="col-md-6 about-media media-small small-two"><img class="img-responsive" src="/resources/about-media-2.jpg" alt=""></div>
      </div>
    </div>
    <!-- about section -->
    <div class="content about-content">
      <div class="container">
        <h1>HUNTRS</h1>
        <p> is a peer-to-peer e-commerce platform that allows men to hunt for, buy, and sell menswear and other items to like-minded men.  We are a multi-dimensional tribe of men who have mastered the art of hunting. Our goal is to make style-conscious men smarter consumers. ReUse. RePurpose. ReCycle = Stay fly. </p>
      </div>
    </div>

    <!-- a bunch of images -->
    <div class="content media-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><img class="img-responsive" src="/resources/about-media-3.jpg" alt="" /></div>
          <div class="col-md-4"><img class="img-responsive" src="/resources/about-media-4.jpg" alt="" /></div>
          <div class="col-md-4"><img class="img-responsive" src="/resources/about-media-5.jpg" alt="" /></div>
        </div>
      </div>
    </div>

    <!-- sub-content section -->
    <div class="content sub-title-content">
      <div class="container">
        <h1>Mission</h1>
        <p><i class="gotham">HUNTRS</i> is a resource, platform, conversation and moment where people discover great deals on high-quality men’s fashion and lifestyle products through a unique curated experience.</p>
        <p><i class="gotham">HUNTRS</i> bridges the gap between a diverse cross-section of smart consumers and products that empower them look good, do good, and feel good.</p>
        <p>We make substance and style synonymous.</p>
      </div>
    </div>

    <!-- second banner -->
    <div class="jumbotron second-banner">
      <div class="text">
        <!-- <h1>Elliott Hughes</h1>
        <h2>Featured Closet</h2> -->
      </div>
    </div>

    <!-- team section -->

    <div class="content sub-title-content">
      <div class="container">
        <h1>Our Team</h1>
        <ul style="list-style-type:square">
          <li>Isaac Ewell, Co-Founder & Chief Executive Office</li>
          <li>Sam Seidel, Chief Operating Officer</li>
          <li>Justin Grayson, Chief Design Officer</li>
          <li>Teena Bounpraseuth, Marketing Communications Specialist </li>
        </ul>
        <h1>Advisory Board</h1>
        <ul style="list-style-type:square">
          <li>Jason Green, Redbird Advanced Learning</li>
          <li>Americus Reed, II, Wharton School of the University of Pennsylvania & Persona Partners</li>
          <li>James D. Brown, Independent Consultant</li>
          <li>James Gross, Mac Mannes Inc.</li>
          <li>Kathryn Gross, David’s Bridal</li>
          <li>Nmuta Jones, Software Developer</li>
          <li>Brandon Pankey, Entertainment Executive</li>
        </ul>
      </div>
    </div>

  <!-- OUTRO SECTION -->
  <div class="container">
    <div class="jumbotron featured-banner third-banner">
      <div class="text">
        <!-- <h1>Elliott Hughes</h1>
        <h2>Featured Closet</h2> -->
      </div>
    </div>
  </div>


  {{> footer}}


  </div>
</template>
