<template name="footer">
  <footer class="footer">
    <div class="container" style="margin:0;">
        <div class="navbar">
          <div class="navbar-header">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">About</a></li>
                    <!-- <li><a href="http://huntrs-staging.herokuapp.com/terms">Terms</a></li> -->
                    <!-- <li><a href="http://huntrs-staging.herokuapp.com/press">Press</a></li> -->
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/how-it-works">How It Works</a></li>
                    <li><a href="/faq">FAQ</a></li>

                    <!-- <li><a href="/dashboard">Admin</a></li> -->
                </ul>
              </div>
            </div>
          </div>
      </div>
    </footer>
</template>
