<template name="footer">
  <footer class="footer">
    <div class="navbar">
      <div class="">
            <ul class="nav navbar-nav">
                <!-- <li><a href="http://huntrs-staging.herokuapp.com/terms">Terms</a></li> -->
                <!-- <li><a href="http://huntrs-staging.herokuapp.com/press">Press</a></li> -->
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about-us">About</a></li>
                <li><a href="/rules">Rules of the Tribe</a></li>
                <li><a href="/terms-of-use">Terms of Service</a></li>
                <li><a href="/faq">FAQs</a></li>


                <!-- <li><a href="/dashboard">Admin</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="hvr-grow" href="https://www.facebook.com/Onehunted"><i class="fa fa-facebook"></i></a></li>
              <li><a class="hvr-grow" href="https://www.instagram.com/theonehunted"><i class="fa fa-instagram"></i></a></li>
              <li><a class="hvr-grow" href="https://www.twitter.com/theonehunted"><i class="fa fa-twitter"></i></a></li>
              <li><a>&copy; 2016 Onehunted</a></li>
            </ul>
        </div>
      </div>
  </footer>
</template>
